@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--background-color);
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-principal {
    background-color: var(--advice-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.card-principal .titulo {
    color: var(--advice-dice-color);
    padding-bottom: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 30px;
}

.card-principal .desc-advice {
    text-align: center;
    font-size: 23px;
    color: var(--text-color);
}

.card-principal .gerador-button {
    border-radius: 50%;
    padding: 17px;
    border: none;
    background-color: var(--advice-dice-color);
    position: absolute;
    bottom: -33px;
}

.card-principal .gerador-button:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}

